
<h1>Your search results for <strong><%=@searched_city.split.map(&:capitalize)*' '%></strong>:</h1>

<ul class="accordion" data-accordion>
  <%@search_results.each do |trail|%>
    <li class="accordion-navigation">
      <a href="#panel<%=@counter%>">
        <div style="float:left"><%=trail.name%></div>
        <div style="text-align: right"><%=trail.city%>, <%=trail.state%></div>
      </a>
      <div id="panel<%=@counter%>" class="content">
          <strong><%=trail.type%></strong>
          <div style="text-align: center"><strong>Rating:</strong> <%=trail.rating%></div>
          <p><strong>Description:</strong> <%=trail.description%></p>

          We don't have enough information about this trail!

      </div>
    </li>
    <%@counter+=1%>
  <%end%>
</ul>