<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Go-Trek" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Go-Trek</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <form action="/trails">
                <input type="text" name="search_input" placeholder="[City]">
              </div>
              <div class="large-4 small-3 columns">
                <input type="submit" class="alert button expand" value="Search">
                </form>
              </div>
            </div>
          </li>
          <li>
            <form action="/trails">
              <input type="hidden" id="current-city" name="current_city" value="">
              <input type="submit" role="button" aria-label="submit form" class="button" value="Nearby">
            </form>
          </li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="#">Write a Review</a></li>
          <li class="active"><a href="#">Events</a></li>

          <li class="has-dropdown">
            <a href="#">User Ish</a>
            <ul class="dropdown">
              <li class="active"><a href="#">Sign up</a></li>
              <li class="active login"><a href="#">Log in</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

  <div id="logindiv">
    <form class="form" action="#" id="login">
      <h3>Login Form</h3>
      <label>Username : </label>
      <input type="text" id="username" placeholder="Ex -john123"/>
      <label>password : </label>
      <input type="text" id="password" placeholder="************"/>
      <input type="button" id="loginbtn" value="Login"/>
      <input type="button" id="cancel" value="Cancel"/>
    </form>
  </div>

    <%= yield %>

  </body>
</html>
